html {
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
}

header nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 3rem;
    list-style: none;
    font-size: 1.6rem;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: white;
}


.firstblock {
    background-color: #1F2937;
    height: 20rem;
}

.secondblock {
    background-color: white;
    height: 20rem;
}

.thirdblock {
    background-color: silver;
    height: 20rem;
}

.lastblock {
    background-color: white;
    height: 20rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    height: 3rem;
}